.title{
    color:#fff;
    font-size:clamp(52px,6vw,110px);
    font-weight:700;
    letter-spacing:12px;

    animation:titleLoop 3s infinite;
}

.subtitle{
    margin-top:20px;

    color:#fff;
    font-size:clamp(20px,2vw,36px);
    font-weight:300;
    letter-spacing:14px;

    animation:subtitleLoop 3s infinite;
}

.line{
    width:280px;
    height:2px;
    margin:28px auto 0;

    background:#fff;

    animation:lineLoop 3s infinite;
}

@keyframes titleLoop{

    0%{
        opacity:0;
        transform:translateY(15px) scale(.98);
    }

    15%{
        opacity:1;
        transform:translateY(0) scale(1);
    }

    100%{
        opacity:1;
        transform:translateY(0) scale(1);
    }

}

@keyframes subtitleLoop{

    0%,15%{
        opacity:0;
        transform:translateY(15px);
    }

    30%{
        opacity:1;
        transform:translateY(0);
    }

    100%{
        opacity:1;
        transform:translateY(0);
    }

}

@keyframes lineLoop{

    0%,30%{
        width:0;
        opacity:0;
    }

    45%{
        width:280px;
        opacity:1;
    }

    100%{
        width:280px;
        opacity:1;
    }

}
